@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: GilroyLight;
    src: url("/assets/font/Gilroy-Light.otf")  format("opentype");;
}

@font-face {
    font-family: GilroyBold;
    src: url("/assets/font/Gilroy-ExtraBold.otf")  format("opentype");;
}

:root{
    --max-width:900px;
    --accent-color-900:#030b38;
    --accent-color-100:#e2e5ff;
    --background-color-100:#fff;
    --background-color-200:#f8f7fa;
    --text-color:#262626;
    --category-text-color:#fff;
    --primary-font-100:GilroyLight;
    --primary-font-900:GilroyBold;
}