input {
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:transparent;
}

button, input{
    font-family: var(--primary-font);
    border:1px solid transparent;
    font-size:16px;
}

input::placeholder{
    opacity:0.3;
}

.button-outline-accent{
    border:1px solid var(--accent-color-900);
    background:transparent;
    color:var(--accent-color-900);
}

.button-outline-accent:hover{
    border:1px solid var(--accent-color-900);
    background:var(--accent-color-900);
    color:var(--text-color-100);
    cursor:pointer;
}

.button-plain{
    background:transparent;
    color:var(--accent-color-900);
}

.button-outline-danger{
    border:1px solid red;
    background:transparent;
    color:red;
}

.button-outline-danger:hover{
    cursor: pointer;
}

.input-outline-idle{
    border:1px solid #eeeeee;
}

.input-outline-idle:focus{
    border:1px solid var(--accent-color-900);
}

.display-none{
    display:none !important;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }