body{
    margin:0;
    padding:0;
    font-family: var(--primary-font);
    /* background:#fafcff; */
    /* background:#f3f8ff; */
    background:var(--background-color);
    color:var(--primary-text-color);
}

.main-container{
    max-width: var(--max-width);
    margin:0 auto;
    width:90%;
    height:fit-content;
    padding:20px 0;
}

h2{
    font-size:.9rem;
}


#CreatorInput{
    padding:15px 0;
    color:var(--primary-text-color);
}

.creator{
    width:90%;
    border-radius:15px;
    background:var(--background-color);
    padding:20px;
    box-sizing: border-box;
    box-shadow: 1px 10px 206px -49px var(--creator-shadow);
    -webkit-box-shadow: 1px 10px 206px -49px var(--creator-shadow);
    -moz-box-shadow: 1px 10px 206px -49px var(--creator-shadow);
    position:fixed;
    bottom:110px;
    transition:all ease-in-out .5s;
    opacity:1;
    max-width: var(--max-width);
    right:50%;
    transform:translateX(50%);
    color:var(--primary-text-color);
}

.creator-hide{
    right:-100%;
    transition:all ease-in-out .4s;
    opacity: 0;
}

.creator > div{
    width:100%;
}

.creator input[type=text]{
    width:100%;
}
.clrs-container{
    padding:10px 0px;
    width:20%;
    vertical-align: bottom;
    margin-bottom:10px;
    border-radius: 10px;
    height:fit-content;
    overflow:scroll;
}
.ctgrs-container{
    width:100%;
    padding:10px 20px;
    border-radius:10px;
    border:1px solid var(--neutral-color-200);
    box-sizing: border-box;
    margin:10px 0;
    font-size:.8rem;
    overflow: hidden;
}
.unavailable-color{
    color:var(--neutral-color-200);
}
.creator-input-top{
    border-bottom:1px solid var(--neutral-color-200)
}
.creator-input-top > div{
    display: inline-block;
}

.entry-small-text{
    font-size:0.875em;
}
.entry-text-and-icon{
    margin:5px;
    padding:10px;
    display:inline-block;
    border-radius: 5px;
}
.creator-input-bottom > div{
    display: inline-block;
    width:50%;
}
.creator-input-bottom{
    margin-top:10px;
}

.entry-time{
    text-align:right;
}

.entry-type span,
.entry-time span{
    margin:0 3px;
}
.entry-inside-container{
    border-radius:10px;
    display:inline-block;
}
.entry-now:hover,
.entry-later:hover,
.entry-category:hover,
.entry-task:hover{
    cursor:pointer;
}
.clr-list-item{
    padding:5px 10px;
    display:inline-block;
    margin-right:10px;
    border-radius:10px;
    border:1px solid transparent;
}
.clr-list-item-selected{
    border:1px solid var(--accent-color-900);
}
.clr-list-item-ball{
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin:0 auto;
}
.clr-list-item-ball:hover{
    cursor:pointer;
}

.option-item-icon{
    margin-right:10px;
}

.selected-icon{
    color:var(--accent-color-900) !important;
}

.creator-button{
    width:100%;
    padding:10px 0;
    border-radius:10px;
    font-size:.8rem;
    background:var(--accent-color-900);
    color:var(--secondary-text-color);
}
.creator-button:hover{
    cursor:pointer;
}

.creator-message{
    width:90%;
    padding:20px 20px;
    font-size:.8rem;
    background:transparent;
    margin:10px 0 0 0;
    border-radius:10px;
    box-sizing: border-box;
    border:1px solid var(--neutral-color-200);
    opacity:0;
    transition:all ease-in-out .2s;
    color:var(--primary-text-color);
    position:fixed;
    top:20px;
    max-width:var(--max-width);
}

.show-creator-message{
    opacity:1;
    transition:all ease-in-out .2s;
}
.message-success{
    border:1px solid #c7e5ce;
    color:#50cf6e;
    background:#ebf7ef;
}
.message-error{
    background:#fbeee9;
    border:1px solid #ffbebe;
    color:#ff5b5b;
}



/* Task */
.task-container{
    width:100%;
    padding:20px;
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
    background:var(--background-color);
    /* border:1px solid rgba(4, 142, 254, 0.1); */
    box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -webkit-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -moz-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
}

.task-details, .task-actions{
    width:100%;
    display:block;
}
.task-actions{
    padding-top:20px;
    text-align: center;
}
.task-inner-container > div{
    display:inline-block;
    vertical-align: top;
}

.task-check:hover{
    cursor:pointer;
    color:var(--accent-color-900);
}
.task-category{
    width:100%;
    font-size:.7rem;
    margin-bottom:15px;
    word-wrap: break-word;
}
.task-category:hover{
    cursor:pointer;
}
.task-title{
    width:90%;
    word-wrap: break-word;
    overflow:hidden;
    font-weight:400;
}

.task-to-today,
.task-delete,
.task-cancel,
.task-check{
    width:25%;
    text-align: center;
}
.task-delete:hover{
    color:red;
    cursor:pointer;
}
.empty-task-container{
    width:100%;
    padding:20px 10px;
    border:1px dashed var(--neutral-color-200);
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
    color:var(--neutral-color-200);
    text-align:center;
}



.options-selector{
    width:100%;
    position:fixed;
    bottom:0;
    height:100vh;
    border-radius:10px 10px 0 0;
    box-sizing: border-box;
    padding:20px;
    overflow:scroll;
    background:var(--background-color);
    z-index: 200;

}
.options-selector-inner-container{
    max-width: var(--max-width);
    margin:0 auto;
}

.options-selector-item{
    padding:20px 0;
    display:inline-block;
    padding:20px;
    margin:10px;
    border-radius:10px;
    border:1px solid var(--neutral-color-200);
    max-width:200px;
    word-wrap: break-word;
}

.options-selector-item:hover{
    cursor:pointer;
}

.full-cover{
    position:fixed;
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.808);
    z-index: 100;
}

.close-options{
    width:100%;
    padding:10px 0;
}
.search-input{
    width:100%;
    border-bottom: 1px solid var(--neutral-color-200);
}

.invisible{
    width:100%;
    height:200px;
}

.category{
    padding:20px;
    display:inline-block;
    background:var(--background-color);
    margin:10px;
    border-radius:10px;
    border:1px solid rgba(4, 142, 254, 0.15);
    word-wrap: break-word;
    white-space: pre-line;
    max-width:200px;
}
.category:hover{
    cursor:pointer;
}
.overflow-hidden{
    overflow: hidden !important;
}

.user-utility-belt{
    position:fixed;
    max-width: var(--max-width);
    width:90%;
    box-sizing: border-box;
    bottom:30px;
    color:var(--primary-text-color);
    left:50%;
    transform: translateX(-50%);
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.utility-belt-edge,
.utility-belt-solo{
    flex-direction: row;
    display: flex;
    font-size:17px;
    border:1px solid transparent;
}

.utility-belt-solo{
    background:var(--accent-color-900);
    color:var(--secondary-text-color);
    box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -webkit-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -moz-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    border-radius:50%;
    line-height: 55px;
    width:50px;
    height:50px;
}

.utility-belt-edge{
    background:var(--background-color);
    width:100%;
    border-radius:15px;
    border:1px solid transparent;
    margin:30px 0;
}

.utility-belt-edge > div,
.utility-belt-solo > div{
    width:100%;
    text-align: center;
    transition: all ease-in-out .3s;
}

.utility-belt-edge > div{
    padding:20px 0; 
    border-radius:10px;
}

.utility-belt-edge > div:hover{
    cursor:pointer; 
}


.user-utility-belt-active{
    transition: all ease-in-out .3s;
    background:var(--accent-color-900);
    color:var(--secondary-text-color);
    border-radius:10px;
}


.user-launch{
    max-width:var(--max-width);
    width:100%;
    margin:50px 0 0px 0;
}


.user-launch-name{
    font-weight:800;
}

.user-launch-initial{
    width:100%;
}


.user-launch-greeting-text{
    font-size:48px;
    width:100%;
}

.user-launch-greeting-date{
    font-size:1rem;
    font-weight:600;
    margin-bottom:10px;
}

.focused-utility{
    background:var(--background-color-100);
    color:var(--accent-color-900);
    border:1px solid var(--accent-color-900);
}

.specific-category-header{
    display:flex;
    flex-direction: row;
}
.category-icon{
    word-wrap: break-word;
}
.specific-category-header > div{
    width:100%;
}

.specific-category-actions{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.specific-category-actions > div{
    width:10%;
    margin:0 10px;
}

.go-back:hover{
    cursor:pointer;
}

.edit-specific-category-window{
    width:100%;
    position:fixed;
    height:100vh;
    z-index:900;
    background:var(--background-color);
    top:0;
    overflow:scroll;
}

.edit-specific-category-window-inner-container{
    max-width:var(--max-width);
    width:90%;
    margin:0 auto;
}

.edit-specific-category-window-input{
    border-bottom:1px solid var(--neutral-color-200);
    padding:20px 0;
    margin:0 0 20px 0;
    color:var(--primary-text-color);
    width:100%;
}

.specific-category-title{
    font-size:24px;
    word-wrap: break-word;
}

.edit-specific-category-window-clrs-container{
    margin:0 0 20px 0;
}

.submit-new-category{
    padding:10px 20px;
    background:var(--accent-color-900);
    border:transparent;
    color:var(--secondary-text-color);
    border-radius:10px;
}

.category-title{
    white-space: pre-line;
    word-wrap: break-all;
}



@media screen and (max-width: 530px) {
    .category,.options-selector-item{
        font-size:.9rem;
    }
    
}