body{
    margin:0;
    padding:0;
    font-family: var(--primary-font-100);
}

.main-container{
    max-width: var(--max-width);
    margin:0 auto;
    width:90%;
    height:fit-content;
    padding:20px 0;
}

.header-container,
.category-container,
.tasks-container{
    width:100%;
    background:transparent;
    height:fit-content;
    border-bottom:1px solid #f7f7f7;
    padding:20px 0;
}

.header-row-container > div{
    display: inline-block;
    width:50%;
    padding:5px 0;
}

.header-first-row-container{
    font-weight:800;
    font-size:24px;
}

.header-second-row-container,
.header-second-row-container button{
    font-size:14px;
}

.profile,
.user-profile-stats{
    text-align: right;
}

.user-profile-stats > div{
    display: inline-block;
    max-width:50%;
    width:fit-content;
    padding:0 5px;
}






/* Category */

.category-list{
    flex-flow: row;
    flex-wrap: wrap;
    display:flex;
    margin:10px 0;
}

.category{
    width:110px;
    height:110px;
    background:var(--background-color-200);
    color:var(--text-color-800);
    padding:20px;
    border-radius:20px;
    margin:5px 10px 5px 0;
    font-family:var(--primary-font-900);
    vertical-align: top;
    font-size:20px;
}

.category-container h2{
    font-family: GilroyBold;
}

.category-title{
    word-wrap: break-word;
    overflow:hidden;
}

.category:hover{
    cursor:pointer;
}

#InputCategory, #InputTask{
    width:75%;
}

.button-add-category, .button-add-task{
    width:20%;
    margin:0 0 0 5%;
    text-align: center;
}



/* Task */
.task-container{
    width:100%;
    padding:20px 10px;
    border:1px solid var(--background-color-200);
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
}

.task-container > div{
    display:inline-block;
    vertical-align: top;
}

.task-check{
    width:10%;
    text-align: center;
}
.task-check img{
    width:15px;
    object-fit: contain;
}
.task-check:hover{
    cursor:pointer;
}
.task-title{
    width:80%;
    word-wrap: break-word;
    overflow:hidden;
}
.task-details{
    width:10%;
}
.task-delete img{
    width:15px;
    object-fit: contain;
}
.task-delete:hover{
    cursor:pointer;
}
.empty-task-container{
    width:100%;
    padding:20px 10px;
    border:1px dashed #cecece;
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
    color:#cecece;
    text-align:center;
}



/* Specific Category */


.category-header{
    height:fit-content;
}

.category-header > div{
    display:inline-block;
}

.go-back{
    width:25%;
}
.go-back:hover{
    cursor: pointer;
}

.category-details{
    width:75%;
    text-align: right !important;
}

.category-details > div{
    display:inline-block;
}

.specific-category-button{
    text-align: right;
    font-size:10px;
    width:fit-content;
    padding:10px 20px;
    border-radius:10px;
    margin-left:10px;
}

.specific-category h2{
    font-family: GilroyBold;
    font-size:2rem;
    margin-bottom: 10px;
}

.specific-category-button img{
    width:10px;
    object-fit: contain;
}



.display-none{
    display: none;
}


@media screen and (max-width: 350px) {
    .category{
        width:90px;
        height:90px;
        font-size:18px;
    }
}