body{
    margin:0;
    padding:0;
    font-family: var(--primary-font);
    background:#fafcff;
}

.main-container{
    max-width: var(--max-width);
    margin:0 auto;
    width:90%;
    height:fit-content;
    padding:20px 0;
}




.creator{
    width:90%;
    border-radius:15px;
    /* background:#35303d; */
    background:#fff;
    height:fit-content;
    padding:20px;
    box-sizing: border-box;
    box-shadow: 1px 10px 206px -49px rgba(133,133,133,0.7);
    -webkit-box-shadow: 1px 10px 206px -49px rgba(133,133,133,0.7);
    -moz-box-shadow: 1px 10px 206px -49px rgba(133,133,133,0.7);
    position:fixed;
    bottom:100px;
    transition:all ease-in-out .3s;
    opacity:1;
    visibility: visible;
    max-width: var(--max-width);
}

.creator-hide{
    bottom:0;
    transition:all ease-in-out .3s;
    visibility: hidden;
    opacity: 0;
}

.creator > div{
    width:100%;
}

.creator input[type=text]{
    width:100%;
}
.clrs-container{
    padding:10px 0px;
    width:20%;
    vertical-align: bottom;
    margin-bottom:10px;
    border-radius: 10px;
    height:fit-content;
    overflow:scroll;
}
.ctgrs-container{
    width:100%;
    padding:10px 20px;
    border-radius:10px;
    border:1px solid #eeeeee;
    box-sizing: border-box;
    margin:10px 0;
    font-size:.8rem;
}
.unavailable-color{
    color:#ececec;
}
.creator-input-top{
    border-bottom:1px solid #ececec;
}
.creator-input-top > div{
    display: inline-block;
}

.entry-small-text{
    font-size:0.875em;
}
.entry-text-and-icon{
    margin:5px;
    padding:10px;
    display:inline-block;
    border-radius: 5px;
}
.creator-input-bottom > div{
    display: inline-block;
    width:50%;
}
.creator-input-bottom{
    margin-top:10px;
}

.entry-time{
    text-align:right;
}

.entry-type span,
.entry-time span{
    margin:0 3px;
}
.entry-inside-container{
    border-radius:10px;
    display:inline-block;
}
.entry-now:hover,
.entry-later:hover,
.entry-category:hover,
.entry-task:hover{
    cursor:pointer;
}
.clr-list-item{
    padding:5px 10px;
    display:inline-block;
    margin-right:10px;
    border-radius:10px;
    border:1px solid transparent;
}
.clr-list-item-selected{
    border:1px solid var(--accent-color-900);
}
.clr-list-item-ball{
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin:0 auto;
}
.clr-list-item-ball:hover{
    cursor:pointer;
}

.option-item-icon{
    margin-right:10px;
}

.selected-icon{
    color:#0099ff !important;
}

.creator-button{
    width:100%;
    padding:10px 0;
    border-radius:10px;
    font-size:.8rem;
    background:var(--accent-color-900);
    color:#fff;
}
.creator-button:hover{
    cursor:pointer;
}

.creator-message{
    width:90%;
    height:fit-content;
    padding:20px 20px;
    font-size:.8rem;
    background:transparent;
    margin:10px 0 0 0;
    border-radius:10px;
    box-sizing: border-box;
    border:1px solid #eeeeee;
    opacity:0;
    transition:all ease-in-out .2s;
    color:#000;
    position:fixed;
    top:20px;
}

.show-creator-message{
    opacity:1;
    transition:all ease-in-out .2s;
}
.message-success{
    border:1px solid #c7e5ce;
    color:#50cf6e;
    background:#ebf7ef;
}
.message-error{
    background:#fbeee9;
    border:1px solid #ffbebe;
    color:#ff5b5b;
}



/* Task */
.task-container{
    width:100%;
    padding:20px;
    /* border:1px solid #eeeeee; */
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
    background:#fff;
    box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75);
-webkit-box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75);
-moz-box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75);
}

.task-details, .task-actions{
    width:100%;
    display:block;
}
.task-actions{
    padding-top:20px;
    text-align: center;
}
.task-inner-container > div{
    display:inline-block;
    vertical-align: top;
}

.task-check:hover{
    cursor:pointer;
    color:var(--accent-color-900);
}
.task-category{
    width:100%;
    font-size:.7rem;
    margin-bottom:15px;
}
.task-category:hover{
    cursor:pointer;
}
.task-title{
    width:90%;
    word-wrap: break-word;
    overflow:hidden;
    font-weight:400;
}

.task-to-today,
.task-delete,
.task-cancel,
.task-check{
    width:25%;
    text-align: center;
}
.task-delete:hover{
    color:red;
    cursor:pointer;
}
.empty-task-container{
    width:100%;
    padding:20px 10px;
    border:1px dashed #cecece;
    border-radius:10px;
    margin:10px 0;
    box-sizing: border-box;
    color:#cecece;
    text-align:center;
}



.options-selector{
    width:100%;
    position:fixed;
    bottom:0;
    height:100vh;
    border-radius:10px 10px 0 0;
    box-sizing: border-box;
    padding:20px;
    /* box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75);
    -webkit-box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75);
    -moz-box-shadow: -1px 10px 45px -8px rgba(243,243,243,0.75); */
    overflow:scroll;
    background:#fff;
    z-index: 200;

}
.options-selector-inner-container{
    max-width: var(--max-width);
    margin:0 auto;
}

.options-selector-item{
    padding:20px 0;
    display:inline-block;
    padding:20px;
    margin:10px;
    border-radius:10px;
    border:1px solid #eeeeee;
}

.options-selector-item:hover{
    cursor:pointer;
}

.full-cover{
    position:fixed;
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.808);
    z-index: 100;
}

.close-options{
    width:100%;
    padding:10px 0;
}
.search-input{
    width:100%;
    border-bottom: 1px solid #eeeeee;
}

.invisible{
    width:100%;
    height:200px;
}

.category{
    padding:20px;
    display:inline-block;
    background:#fff;
    margin:10px;
    border-radius:10px;
}
.overflow-hidden{
    overflow: hidden !important;
}

.user-utility-belt{
    position:fixed;
    max-width: var(--max-width);
    width:90%;
    box-sizing: border-box;
    bottom:30px;
    color:rgb(0, 0, 0);
    left:50%;
    transform: translateX(-50%);
    flex-direction: row;
    display: flex;
    
}

.utility-belt-edge,
.utility-belt-solo{
    border-radius:15px;
    padding:20px;
    flex-direction: row;
    display: flex;
    font-size:1.2rem;
}

.utility-belt-solo{
    margin:0 0 0 10px;
    background:var(--accent-color-900);
    color:#fff;
    width:10%;
}

.utility-belt-edge{
    background:#fff;
    width:90%;
    box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -webkit-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
    -moz-box-shadow: 1px 10px 30px -10px rgba(4, 142, 254, 0.15);
}

.utility-belt-edge > div,
.utility-belt-solo > div{
    width:100%;
    text-align: center;
    transition: all ease-in-out .3s;
}

.user-utility-belt-active{
    color:var(--accent-color-900) !important;
    transition: all ease-in-out .3s;
}

@media screen and (max-width: 530px) {
    .category,.options-selector-item{
        font-size:.9rem;
    }
    
}